@import "tailwindcss";

@layer utilities {
  .bg-btn {
    background-color: #323232;
  }
  .bg-btn2 {
    background-color: #6446c4;
  }
  .bg-btn3 {
    background-color: #1b1334;
  }
  .text-primary {
    color: #edeffc;
  }
  .text-secondary {
    color: #73758c;
  }
}
